<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Common</key>
	<dict/>
	<key>Debug</key>
	<dict>
		<key>AuthServerUrl</key>
		<string>http://fit.cvut.cz</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>AuthServerUrl</key>
		<string>http://cvut.cz</string>
	</dict>
</dict>
</plist>
